
<h1>Find Your Doppelganger!!!</h1>



<div class="form">
  <form action="<%=api_face_search_index%>" method="post">
    Add URL here:</br>
    <input type="text" name="url">
    <br>
    <input type="submit" value="Submit">
  </form>
</div>

<body>
  <div id="divLoading">
    <div>
      <h6>Please wait a moment.</h6>
  </div>
</body>
    
